/**
 * Chess board game base styles.
 *
 * Module: chessboard.
 * ShortName: cbg (chess board game).
 */

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.chessboard {
    border: 1px solid black;
    margin: 0 auto;
    overflow: auto;
}

.cbg-cell {
    border: 1px solid black;
    float: left;
    font-size: 80px;
    text-align: center;
}

.cbg-white {
    background-color: white;
}

.cbg-gray {
    background-color: gray;
}

.cbg-droppable {
    border: 1px solid cadetblue;
}

.cbg-droppable::after {
    content: '';
    background-color: lightblue;
    display: block;
    height: 100%;
    opacity: 0.5;
    width: 100%;
}