/**
 * Chess board game base styles.
 *
 * Module: chessboard.
 * ShortName: cbg (chess board game).
 */

.chessboard {
    border: 1px solid black;
    margin: 0 auto;
}

.cbg-cell {
    border: 1px solid black;
    float: left;
    font-size: 80px;
    text-align: center;
}

.cbg-white {
    background-color: white;
}

.cbg-gray {
    background-color: gray;
}